@tailwind base;
@tailwind components;
@tailwind utilities;

html{
  background-color: orangered;   
}

div.gallery {
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
  width: 180px;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
}
.h1App {
  background-color: white;
  font-size: larger;
  text-align: center;
}
#hideCheckbox {
  display: none;
}
#hideCheckbox:checked ~ label img {
  display: none;
}
#banner {
  position: absolute;
  margin-left: 35%;
  margin-top: -15%;
}
.image-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  max-width: 1920px;
  margin: 0 auto;
  padding: 20px;
}

.image {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f1f1f1;
}

.image img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}